<h1>Merchants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <% if current_admin? %>
      <th>Active</th>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <h2> Merch who sell the most items </h2>
  <% @top_merch_for_month.each do |merch| %>
    <%= merch.name %>
  <%end%>

  <h2> Merch who fullfill the most orders</h2>
  <% @merch_who_fullfill.each do |merch| %>
    <%= merch.name %>
  <%end%>
<% if current_user %>
    <h2> Merch who fullfill orders in my state the fastest</h2>
    <% @fast_in_my_state.each do |merch| %>
      <%= merch.name %>
    <%end%>

    <h2> Merch who fullfill orders in my city the fastest</h2>
    <% @fast_in_my_city.each do |merch| %>
      <%= merch.name %>
    <%end%>
<%end%>
  <tbody>
    <% @merchants.each do |merchant| %>
      <tr id="merchant-<%= merchant.id %>">
        <td>
        <% if current_admin? %>
        <%= link_to merchant.name, merchant_path(merchant) %>
        <% else %>
        <%= merchant.name %>
        <% end %>
        </td>
        <% if current_admin? %>
        <td><%= merchant.active %></td>
        <td>
          <% if merchant.active %>
          <%= button_to "Disable", user_path(merchant), method: :patch, params: { toggle: :disable } %>
          <% else %>
          <%= button_to "Enable", user_path(merchant), method: :patch, params: { toggle: :enable } %>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
